.WeatherDetailsWrapper {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  margin: 20px 0;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  align-self: flex-start;
}

.WeatherDetail {
  flex-basis: 33.33%;
  padding: 10px;
}

body {
  background: linear-gradient(45deg, #fe688b 30%, #ff8e53 90%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-position: center;
  background-size: cover;
}

.ForecastDetail {
  flex-shrink: 0;
  flex-basis: 90px;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primary {
  display: inline-block;
  text-decoration: none;
  letter-spacing: 3px;
  color: rgb(34, 34, 34);
  background: #95d3ce;
  padding: 0.4rem 0.9rem;
  border: 3px solid #95d3ce;
  transition: all 0.3s linear;
  text-transform: uppercase;
  cursor: pointer;
}
.btn-primary:hover {
  background: transparent;
  color: #95d3ce;
}

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
.banner {
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  color: var(--mainWhite);
  padding: 2rem 1rem;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.banner h1 {
  font-size: 2.5rem;
}
.banner div {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}
.banner p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.ragnar {
  background: linear-gradient(45deg, #fe688b 30%, #ff8e53 90%);
}
